VITE_API_AUTH_URL=https://administracion-ditpru.ibero.mx/back/api/Auth/LoginExterno
VITE_API_ACREDITACION_URL=/api-back/
VITE_API_CATALOGO_URL=/api-back/api/Catalogo/
VITE_RECAPTCHA_SITE_KEY=6LeDv5YpAAAAALmo1SGOJnWBHyh-Rkeb7YWFoHuV
VITE_RECAPTCHA_SECRET_KEY=6LeDv5YpAAAAAHNYo96SezE2JlfQUe-3EwQlo4I9